{% set currentSort = app.request.get(sortFieldParameterName) %}
{% set currentDirection = app.request.get(sortDirectionParameterName) %}
{% set isSorted = currentSort == sort %}
{% set newDirection = (isSorted and currentDirection == 'asc') ? 'desc' : 'asc' %}

<a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({
    (sortFieldParameterName): sort,
    (sortDirectionParameterName): newDirection
})) }}">
    {{ title }}
    {% if isSorted %}
        {% if currentDirection == 'asc' %}
            <i class="bi bi-caret-up-fill"></i>
        {% else %}
            <i class="bi bi-caret-down-fill"></i>
        {% endif %}
    {% else %}
        <i class="bi bi-caret-down" style="opacity: 0.3;"></i>
    {% endif %}
</a>
