{% extends 'base.html.twig' %}

{% block title %}Edit ClientActionLog{% endblock %}

{% block body %}
    <h1>Edit ClientActionLog</h1>

    {{ include('client_action_log/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_client_action_log_index_altra') }}">back to list</a>

    {{ include('client_action_log/_delete_form.html.twig') }}
{% endblock %}
