{% extends 'base.html.twig' %}

{% block title %}Altra - En construction{% endblock %}

{% block body %}
	{% include 'layout-altra.html.twig' %}
<div class="container mt-5 text-center">
    <h1>Altra</h1>
    <p class="text-muted">Cette section est en construction.</p>
</div>
{% endblock %}
