{% extends 'base.html.twig' %}

{% block title %}IDS - Tableau de bord{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Bienvenue chez IDS</h1>
    <p>Voici votre tableau de bord.</p>
</div>
{% endblock %}
